<div class="row">
	<h1 class="usp-head-about">About the team</h1>
	
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("dieter-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team">
			<h3><strong>Dieter Ordonez Alcocer</strong></h3>
			<hr>
			<p class="lead bio">I am a business oriented & results driven online marketing expert specialized in multi channel solutions. I'm currently in search of increasing my knowledge as a web analytics expert, in order to combine data analysis with user experience to provide enhanced online marketing strategies that deliver results.</br></br> I'm experienced in Project Management, Search Engine Marketing, Search Engine Optimization, Google Analytics, Google Tag Manager, HTML, CSS, Javascript and Ruby on Rails
￼</p>
		</div>
		<div class="col-sm-2 team"></div>
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("dieter-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team">
			
		</div>
			
		<div class="col-sm-2 team"></div>
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("dieter-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team"></div>
		<div class="col-sm-2 team"></div>
</div>

<div class="row">
	<div class="col-sm-12 text-center text-bottom footer">
		All Rights Reserved Rerum 2016
	</div>
</div>		
