<div class="row">
	<h1 class="">About the Team</h1>
	<%= button_to "Request a Demo", new_user_registration_path, :class => "btn-lg btn-primary button-banner" %>
</div>
<div class="row body">
</div>
<div class="row">
	<div class="col-sm-12 text-center text-bottom footer">
		All Rights Reserved Rerum 2016
	</div>
</div>		
