<div class="row">
	<h1 class="usp-head-about">About the team</h1>
	
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("dieter-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team"></div>
		<div class="col-sm-2 team"></div>
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("dieter-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team"></div>
		<div class="col-sm-2 team"></div>
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("dieter-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team"></div>
		<div class="col-sm-2 team"></div>
</div>

<div class="row">
	<div class="col-sm-12 text-center text-bottom footer">
		All Rights Reserved Rerum 2016
	</div>
</div>		
