
<h1 class="dash-title">Hello Welcome to Your Dashboard:</h1>
	<div class="row">
	    <%= line_chart  @data, @options %>
	</div>
<hr>
<h2 class="dash-title"> Recommendations for this week's data: </h2>
<table class="table recommendation table-bordered">
  <tr>
    <th>Main Takeaway</th>
    <th>Recommendation</th> 
    <th>Ease of Implementation</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>

<h2 class="dash-title">View Other Reports:</h2>

	<div class="row">
	    <div class="col-sm-12 text-center text-bottom footer">
	        All Rights Reserved Rerum 2016
	    </div>
	</div>  