// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
	padding-left: 10%;
	padding-right: 10%;
	background-image: image-url("iStock_73847783_Medium.jpg");
	background-color: lightblue;
	height: 500px;
	background-size: 100%;
	opacity:100%; 
}
.banner > div{
	position:relative;
	top:83%;

}
// titles
.dash-title {
	color: black;
	
}
h1 {
	text-align: center;
	color:white;
}
h2 {
	text-align: center;
	color:white;
}

h5 {
	text-align: center;
	color:white; 
}

h6 {
	text-align: center;
	color:white;
}

.usp-head-1{
	color: #39393B;
	font-weight: bold;
	position:relative;

}

.usp-head-about{
	color: #39393B;
	font-weight: bold;
	position:relative;
	text-align: left;
	padding-left:10%;
	padding-top:3%;
	padding-bottom:3%;
}

.navbar {
	margin: 0;
}
.navbar-logo {
	max-width: 100px;
	max-height: 30px;
}


.square {
	background-color: black;
	width:26%;
	height:300px;
	display: inline-block;
	margin-left: 5%;
}

.left {
	padding-left:10%;
	padding-top:20px;

}

.right {
	padding-right:10%;
	padding-top:20px;
}

.image{
	height: 200px;
	width: 350px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: block;
    font-size: 18px;
}

.list > li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    float: left;
    margin-top: 4px;
    margin-left: -20px;
    color: black;
}

.body {
	padding-top: 10px;
}

.icon{
	display: inline;
    margin-right: 20px;
	margin-left: 20px;
}

.style_icon{
	margin-right: 20px;
	margin-left: 20px;
}

.footer {
	background-color: #5CB85C;
	height: 300px;
	background-size: 100%;
	color: white;
}

.recommendation {
 	width:70%; 
    margin-left:15%; 
    margin-right:15%;}

.circle {
height: 60px;
width: 60px;
line-height: 60px;
border-radius: 50px;
display:inline-block;
background-color: black;
color: white;
text-align: center;
font-size: 2em;
}

.usp {
	color:black;
	position: relative;
	font-weight: bold;
	font-size:16px;
	right:60px;
	top:15px;
}

.team{
	height:300px;
	background-color: #F5F7F9;
}

.headshot{
	max-width: 400px;
	max-height: 300px;
    border-radius: 250px;
}

.bio {
	font-size: 16px;
}

.graph{
	text-align: center;
}